<a href="https://colab.research.google.com/github/Grinbaum/novo/blob/main/Raspaclima3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [253]:
def raspar_clima():
    url = 'https://www.climatempo.com.br/previsao-do-tempo/cidade/558/saopaulo-sp'# defino a página de onde quero tirar informações  
    import requests
    resposta = requests.get(url) # uso o requests para puxar a url
    from bs4 import BeautifulSoup
    soup = BeautifulSoup(resposta.text, 'html.parser') # rodo o beautifulsoup para parsear o código html e dar resposta em texto
    temperatura_minima = soup.find('span', {"id": "min-temp-1"}) # busco a temperatura mínima, usando o beautifulsoup, uso a chave span, de tagueamento, e o id, para localizar o atributo específico
    temperatura_minima.__dict__
    temp = temperatura_minima.contents[0] # defino a variável para temperatura mínima
    temperatura_maxima = soup.find('span', {"id": "max-temp-1"}) # repito o processo com a temperatura máxima
    temp2 = temperatura_maxima.contents[0] # defino a variável para temperatura máxima
    import datetime # importo o datetime para montar a tabela dia a dia
    dia = datetime.datetime.today().day # defino a variável dia usando o datetime
    clima = {'dia':dia, 'temperatura_minima':temp, 'temperatura_maxima': temp2} #defino colunas e linhas na tabela
    return clima

In [254]:
raspar_clima() # exibo o resultado da função

{'dia': 9, 'temperatura_maxima': '20°', 'temperatura_minima': '14°'}

In [255]:
import pandas as pd # importo o pandas para criar o dataframe

In [256]:
dia = '9'

In [258]:
clima = {'dia':[dia], 'temperatura mínima':temp, 'temperatura máxima':temp2} #defino colunas e linhas na tabela

In [259]:
tabela_clima = pd.DataFrame(clima) # crio a tabela

In [260]:
type(tabela_clima) # vejo o tipo da tabela

pandas.core.frame.DataFrame

In [261]:
tabela_clima # mostro a tabela

  dia temperatura mínima temperatura máxima
0   9                14º                20º

In [262]:
import csv # importo o csv para transformar a tabela

In [263]:
tabela_clima.to_csv("tabela_clima.csv") # passo a tabela para csv

In [264]:
tabela_clima = pd.read_csv("tabela_clima.csv") # abro no csv

In [265]:
tabela_clima # mostro a tabela em csv

   Unnamed: 0  dia temperatura mínima temperatura máxima
0           0    9                14º                20º

In [266]:
tabela_clima2 = pd.read_csv("tabela_clima.csv", index_col=0) # uso o parâmetro index para limpar a coluna

In [267]:
tabela_clima2 # mostro a tabela sem a coluna inútil

   dia temperatura mínima temperatura máxima
0    9                14º                20º