<a href="https://colab.research.google.com/github/Grinbaum/novo/blob/main/Raspaclima3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def raspar_clima():
    url = 'https://www.climatempo.com.br/previsao-do-tempo/cidade/558/saopaulo-sp'# defino a página de onde quero tirar informações  
    resposta = requests.get(url) # uso o requests para puxar a url
    soup = BeautifulSoup(resposta.text, 'html.parser') # rodo o beautifulsoup para parsear o código html e dar resposta em texto
    tag_temp_minima = soup.find('span', {"id": "min-temp-1"}) # busco a temperatura mínima, usando o beautifulsoup, uso a chave span, de tagueamento, e o id, para localizar o atributo específico
    temp = tag_temp_minima.contents[0] # defino a variável para temperatura mínima
    tag_temp_maxima = soup.find('span', {"id": "max-temp-1"}) # repito o processo com a temperatura máxima
    temp2 = tag_temp_maxima.contents[0] # defino a variável para temperatura máxima
    import datetime # importo o datetime para montar a tabela dia a dia
    dia = datetime.datetime.today().day # defino a variável dia usando o datetime
    clima = {'dia':dia, 'temperatura_minima':temperatura_minima, 'temperatura_maxima': temperatura_maxima} #defino colunas e linhas na tabela
    return clima

In [ ]:
print(clima) # mostro a tabela

{'dia': ['7'], 'temperatura_minima': ['15º'], 'temperatura_maxima': ['22º']}

In [ ]:
import pandas as pd # importo o pandas para criar o dataframe

In [ ]:
dia = dia # defino o valor da linha

In [ ]:
temp = temperatura_minima # defino o valor de uma coluna

In [ ]:
temp2 = temperatura_maxima # defino o valor de outra coluna

In [ ]:
clima = {'dia':dia, 'temperatura_minima':temperatura_minima, 'temperatura_maxima': temperatura_maxima} #defino colunas e linhas na tabela

In [ ]:
tabela_clima = pd.DataFrame(clima) # crio a tabela

In [ ]:
type(tabela_clima) # vejo o tipo da tabela

pandas.core.frame.DataFrame

In [ ]:
tabela_clima # mostro a tabela

  dia temperatura_minima temperatura_maxima
0   7                15º                22º

In [ ]:
import csv # importo o csv para transformar a tabela

In [ ]:
tabela_clima.to_csv("tabela_clima.csv") # passo a tabela para csv

In [ ]:
tabela_clima = pd.read_csv("tabela_clima.csv") # abro no csv

In [ ]:
tabela_clima # mostro a tabela em csv

   Unnamed: 0  dia temperatura_minima temperatura_maxima
0           0    7                15º                22º

In [ ]:
tabela_clima2 = pd.read_csv("tabela_clima.csv", index_col=0) # uso o parâmetro index para limpar a coluna

In [ ]:
tabela_clima2 # mostro a tabela sem a coluna inútil

   dia temperatura_minima temperatura_maxima
0    7                15º                22º