<a href="https://colab.research.google.com/github/Grinbaum/novo/blob/main/Raspaclima3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
def raspar_clima():
    url = 'https://www.climatempo.com.br/previsao-do-tempo/cidade/558/saopaulo-sp'# defino a página de onde quero tirar informações  
    import requests
    resposta = requests.get(url) # uso o requests para puxar a url
    from bs4 import BeautifulSoup
    soup = BeautifulSoup(resposta.text, 'html.parser') # rodo o beautifulsoup para parsear o código html e dar resposta em texto
    temperatura_minima = soup.find('span', {"id": "min-temp-1"}) # busco a temperatura mínima, usando o beautifulsoup, uso a chave span, de tagueamento, e o id, para localizar o atributo específico
    temperatura_minima.__dict__
    temp = temperatura_minima.contents[0] # defino a variável para temperatura mínima
    temperatura_maxima = soup.find('span', {"id": "max-temp-1"}) # repito o processo com a temperatura máxima
    temp2 = temperatura_maxima.contents[0] # defino a variável para temperatura máxima
    import datetime # importo o datetime para montar a tabela dia a dia
    dia = datetime.datetime.today().day # defino a variável dia usando o datetime
    clima = {'dia':dia, 'temperatura_minima':temp, 'temperatura_maxima': temp2} #defino colunas e linhas na tabela
    return clima

In [46]:
raspar_clima() # exibo o resultado da função

{'dia': 10, 'temperatura_maxima': '18°', 'temperatura_minima': '15°'}

In [47]:
dia = '10' # defino a variável dia

In [48]:
temperatura_minima = '15º'

In [49]:
temperatura_maxima = '18º'

In [50]:
import pandas as pd # importo o pandas para criar o dataframe

In [51]:
clima = {'dia':[dia], 'temperatura mínima':temperatura_minima, 'temperatura máxima':temperatura_maxima} #defino colunas e linhas na tabela

In [52]:
tabela_clima_funcao = pd.DataFrame(clima) # crio a tabela

In [53]:
type(tabela_clima_funcao) # vejo o tipo da tabela

pandas.core.frame.DataFrame

In [54]:
tabela_clima_funcao # mostro a tabela

  dia temperatura mínima temperatura máxima
0  10                15º                18º

In [55]:
import csv # importo o csv para transformar a tabela

In [56]:
tabela_clima_funcao.to_csv("tabela_clima.csv") # passo a tabela para csv

In [57]:
tabela_clima_funcao = pd.read_csv("tabela_clima.csv") # abro no csv

In [58]:
tabela_clima_funcao # mostro a tabela em csv

   Unnamed: 0  dia temperatura mínima temperatura máxima
0           0   10                15º                18º

In [59]:
tabela_clima_funcao = pd.read_csv("tabela_clima.csv", index_col=0) # uso o parâmetro index para limpar a coluna

In [60]:
tabela_clima_funcao # mostro a tabela sem a coluna inútil

   dia temperatura mínima temperatura máxima
0   10                15º                18º