<a href="https://colab.research.google.com/github/Grinbaum/novo/blob/main/raspaclima.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests # importo o requests para poder abrir a url

In [31]:
url = 'https://www.climatempo.com.br/previsao-do-tempo/cidade/558/saopaulo-sp'# pego a url do climatempo  
resposta = requests.get(url)

In [32]:
from bs4 import BeautifulSoup # importo o beautifulsoup para parsear (ler, interpreta e usar pedaços do código html)

In [33]:
soup = BeautifulSoup(resposta.text, 'html.parser') # rodo o beautifulsoup para parsear o código html e dar resposta em texto

In [34]:
tag_temp_minima = soup.find('span', {"id": "min-temp-1"}) # defino a variável temperatura mínima, usando o beautifulsoup, uso a chave span, de tagueamento, e o id, para localizar o atributo específico

In [35]:
tag_temp_minima.__dict__#faço um dicionário da temperatura mínima

{'attrs': {'class': ['-gray-light'], 'id': 'min-temp-1'},
 'can_be_empty_element': False,
 'contents': ['15°'],
 'hidden': False,
 'known_xml': False,
 'name': 'span',
 'namespace': None,
 'next_element': '15°',
 'next_sibling': '\n',
 'parent': <p class="-gray _flex _align-center">
 <img alt="Temperatura mínima" class="_margin-r-5 _margin-b-3" src="/dist/images/v2/svg/ic-arrow-min.svg"/>
 <span class="-gray-light" id="min-temp-1">15°</span>
 <img alt="Temperatura máxima" class="_margin-l-10 _margin-r-5 _margin-b-3" src="/dist/images/v2/svg/ic-arrow-max.svg"/>
 <span class="-gray-light" id="max-temp-1">22°</span>
 </p>,
 'parser_class': bs4.BeautifulSoup,
 'prefix': None,
 'preserve_whitespace_tags': {'pre', 'textarea'},
 'previous_element': '\n',
 'previous_sibling': '\n'}

In [36]:
temp = tag_temp_minima.contents[0] #crio uma variável para temperatura?

In [37]:
print(f'A temperatura é {temp}') # publico a variável que encontrei

A temperatura é 15°

In [38]:
tag_temp_maxima = soup.find('span', {"id": "max-temp-1"})

In [40]:
tag_temp_maxima.__dict__

{'attrs': {'class': ['-gray-light'], 'id': 'max-temp-1'},
 'can_be_empty_element': False,
 'contents': ['22°'],
 'hidden': False,
 'known_xml': False,
 'name': 'span',
 'namespace': None,
 'next_element': '22°',
 'next_sibling': '\n',
 'parent': <p class="-gray _flex _align-center">
 <img alt="Temperatura mínima" class="_margin-r-5 _margin-b-3" src="/dist/images/v2/svg/ic-arrow-min.svg"/>
 <span class="-gray-light" id="min-temp-1">15°</span>
 <img alt="Temperatura máxima" class="_margin-l-10 _margin-r-5 _margin-b-3" src="/dist/images/v2/svg/ic-arrow-max.svg"/>
 <span class="-gray-light" id="max-temp-1">22°</span>
 </p>,
 'parser_class': bs4.BeautifulSoup,
 'prefix': None,
 'preserve_whitespace_tags': {'pre', 'textarea'},
 'previous_element': '\n',
 'previous_sibling': '\n'}

In [13]:
temp2 = tag_temp_maxima.contents[0]

In [14]:
print(f'A temperatura é {temp2}')

A temperatura é 22°

In [15]:
import pandas as pd # importo o pandas para criar o dataframe

In [16]:
cidade = ['sao_paulo'] # defino o valor da linha

In [41]:
temperatura_minima = ['15º'] # defino o valor da primeira coluna

In [42]:
temperatura_maxima = ['22º'] # defino o valor da segunda coluna

In [43]:
clima = {'cidade':cidade, 'temperatura_minima':temperatura_minima, 'temperatura_maxima': temperatura_maxima} #defino colunas e linhas na tabela

In [44]:
tabela_clima = pd.DataFrame(clima) # crio a tabela

In [45]:
type(tabela_clima) # vejo o tipo da tabela?

pandas.core.frame.DataFrame

In [46]:
tabela_clima # mostro a tabela

      cidade temperatura_minima temperatura_maxima
0  sao_paulo                15º                22º

In [48]:
tabela_clima. to_csv("tabela_clima.csv") # transformamos a tabela num arquivo csv

In [49]:
tabela_clima = pd.read_csv("tabela_clima.csv") # abrimos no csv

In [50]:
tabela_clima

   Unnamed: 0     cidade temperatura_minima temperatura_maxima
0           0  sao_paulo                15º                22º

In [51]:
tabela_clima = pd.read_csv("tabela_clima.csv", index_col=0) # usamos o  parâmetro index para tirar a coluna extra criada pelo csv

In [52]:
tabela_clima

      cidade temperatura_minima temperatura_maxima
0  sao_paulo                15º                22º